.container {
    
    height: 75%;
    width: 75%;
    position: absolute;
    left: 12.5%;
    top: 12.5%;
}

.titre {/*
    background-color: #a9a9af*/
    background-color: #FFC0CB;
    position: absolute;
    width: 100%;
    height: 19.5%;
}

h1 {
    text-align: center;
    font-size: 250%;
}

.jeux_dispos {
    background-color: #FFB6C1;
    position: absolute;
    border-top: 5px solid gray;
    top: 19.5%;
    height: 80%;
    width: 100%;
}

.jeux{
    cursor: pointer;
    background-color: #ADD8E6;
    color: black;
    border-radius: 20px;
    margin-top: 4%;
    margin-left: 13%;
    height: 35%;
    width: 15%;
}
