
button{
    margin-left: 0% !important;
    margin-right: 0% !important;
}

.cases{ 
    left: 0% ;
    width: 100%;
}

.lettres{
    left: 0%;
    width: 100%;
}

#enter{
    color: white;
    background-color: #1e3250;
    border-radius: 15%;
    width: 10%;
    height: 20%;
}
