.container{
    background-color: blue;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
    height: 85%;
    width: 85%;
}

.titre{
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: lightblue;
    text-align: center;
}

.titre h1{
    margin-top: -1.75%;
    margin-left: 35%;
    font-size: 2vw;
    width: 30%;
}

#joueur{
    font-size: 2vw;
    margin-top: 1%;
    margin-left: 0 !important;
    height: 5%;
    width: 30%;
    color: blue;

}

.tt_cartes{
    height: 51vw;
    width: 100%;
    background-color: red;
    position: absolute;
    top: 10%;
    
}

.carte{
    background-size: 100% 100%;
    background-color: gray;
    border-radius: 20px;
    margin-top: 4%;
    margin-left: 4%;
    height: 22.5%;
    width: 15%;
}




.pop_up h1{
    position: absolute;
    left: 20%;
    
}

#blanc {
    border-radius: 0 !important;
    background-color: white;
}

.invisible {
    visibility: hidden;
}


.emoji {
    margin-left: 25%;
    margin-top: 15%;
}


.pop_up{
    position: fixed;
    background-color: white;
    width: 50%;
    height: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);	/* On met scale = 0 pour qu'il ne soit pas visible */
    border: 1px solid black;
    border-radius: 10px;
    z-index: 12;
}

.pop_up.show{
    transform: translate(-50%, -50%) scale(1.5);
}

.bouton_ferme{
    cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
	position: relative;
	float: right;
}


#overlay {
    position: fixed;		/* On le d'abord en non-visible */
	opacity: 0;
	z-index: 11;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 200ms ease-in-out;
	background: rgba(0, 0, 0, .5);
    pointer-events: none;
	
}

#overlay.show {
    opacity: 1;
    pointer-events: all;
}

.j_resultats{
    margin-top: 8%;
}

.retour{
    font-size: 300%;
    color: black;
    text-decoration: none;
}
