.month{
    height: 2vw;
    font-size: 1.5vw;
    color: blueviolet;

}

table{
    width: 100%;
}


th.year{
    color: blue;
    font-size: 2vw;
}

tr td{
    color: red;
    height: 5vw;
    width: 10vw;
    text-align: center;
    border: 0.1vw solid gray;
}